.spinner {
  font-size: 12px;

  width: 2em;
  height: 2em;
  display: inline-block;

  transition: visibility 300ms, opacity 300ms, transform 300ms;

  circle {
    fill-opacity: 0;

    &[data-idea="background"] {
      stroke: #EAF0F6;
    }
    &[data-idea="progress"] {
      transition: stroke-dasharray 300ms ease;
      stroke: #005CFF;
    }
  }

  &.animated {
    animation: rotation 1s linear 0s infinite both;
  }

  &.hidden {
    animation-play-state: paused;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
