.spinner {
  font-size: 120px;

  width: 2em;
  height: 2em;
  display: inline-block;

  circle {
    fill-opacity: 0;

    &[data-idea="background"] {
      stroke: #EAF0F6;
    }
    &[data-idea="progress"] {
      transition: stroke-dasharray 300ms ease;
      stroke: #005CFF;
    }
  }
}
