* {
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.title {
  font-size: 2em;
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 64px;

  align-items: center;
  justify-content: center;

  .main__controllers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .controllers__controller {
      display: flex;
      gap: 24px;
      align-items: center;
      flex-wrap: nowrap;
      
      .controller__text-input {
        height: 34px;
        width: 60px;
        border-radius: 50px;
        border: 1px solid #ccc;
        transition: border 300ms;
        text-align: center;
        padding: 4px;

        font-size: 1.2em;

        &:focus {
          outline: none;
          border: 1px solid #005CFF;
        }
      }

      .controller__switch {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 60px;
        height: 34px;
    
        .switch__input {
          display: none;
    
          &:checked + .switch__slider {
            background-color: #005CFF;
    
            &::before {
              transform: translateX(26px);
            }
          }
        }
    
        .switch__slider {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 100%;
    
          border-radius: 34px;
          background-color: #ccc;
          transition: background 300ms;
    
          &::before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
    
            border-radius: 50%;
            height: 26px;
            width: 26px;
            background-color: #fff;
            transition: transform 300ms;
          }
        }
      }

      .controller__text {
        font-size: 1.5em;
      }
    }
  }
}
